/* Primary Color */
:root {
    --primary-color: {{ Helpers::settings('primary_color') }}; /* Fetch the primary color value from the database */
  }
  
  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .border-primary {
    border-color: var(--primary-color);
  }
  
  /* Secondary Color */
  :root {
    --secondary-color: {{ Helpers::settings('secondary_color') }}; /* Fetch the secondary color value from the database */
  }
  
  .bg-secondary {
    background-color: var(--secondary-color);
  }
  
  .text-secondary {
    color: var(--secondary-color);
  }
  
  .border-secondary {
    border-color: var(--secondary-color);
  }


.flatpickr input[type=text].form-control {
  @apply border-0 px-3 py-3 pl-10 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring;
}

.flatpickr input[type=text].form-control:required {
  @apply border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring;
}
